.Pulsante {
    height: 40pt;
    width: 40pt;
    font-size: 30pt;
    background-color: gray;
}

.casella {
    height: 30pt;
    width: 100pt;
    font-size: 20pt;
    background-color: lightblue;
    text-align: center;
}

.risultato {
    font-size: 30pt;
    color: rgb(75, 75, 75);
}

.reset {
    font-size: 20pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

a:hover {
    background-color: yellowgreen;
    border-radius: 6px;
}